@charset "utf-8";

/*=============================================//
//
// - styles --> base.scss
//
//=============================================//
// ベース設定
//+-------------------------------------------+*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bodyColor;
  color: $fontColor;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $fontFamily;
  -webkit-text-size-adjust: none;  
}


a {
  text-decoration: underline;
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
    text-decoration: none;
  }
}
